@import url('https://fonts.googleapis.com/css2?family=Public+Sans:wght@300;400;700&display=swap');

:root {
    --dark-blue: hsl(233, 26%, 24%);
    --lime-green: hsl(136, 65%, 51%);
    --bright-cyan: hsl(192, 70%, 51%);
    --grayish-blue: hsl(233, 8%, 62%);
    --light-grayish-blue: hsl(220, 16%, 96%);
    --very-light-gray: hsl(0, 0%, 98%);

    --header-height: 66px;
}

*, ::before, ::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
    background: 0;
    list-style: none;
    font-family: 'Public Sans', sans-serif;
}

html, body {
    overflow-x: hidden;
    scroll-padding-top: calc(var(--header-height) + 10px);
    text-align: center;
    color: var(--grayish-blue);
}

h1 {
    font-size: 40px;
}

h2 {
    font-size: 34px;
}

h3 {
    font-size: 1.25rem;
}

h1, h2, h3 {
    color: var(--dark-blue);
    font-weight: 300;
}

p {
    line-height: 1.66;
}

a {
    text-decoration: none;
    color: currentColor;
    cursor: pointer;
}

button {
    cursor: pointer;
}

button.invite {
    border-radius: 50em;
    background: linear-gradient(to right, var(--lime-green), var(--bright-cyan));
    padding: 1em 2.44em;
    color: white;
    font-weight: 700;
    transition: filter 111ms;
}
button.invite:hover,
button.invite:focus {
    filter: brightness(111%);
}

button svg,
button img {
    pointer-events: none;
}









header {
    position: fixed;
    width: 100%;
    height: var(--header-height);
    padding: 0 calc(13vw - 22px);
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: white;
    z-index: 2;
}

header nav {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    transform: scale(0);
}
.menu-open header nav {
    transform: none;
}

.overlay {
    min-height: 100vh;
    background: linear-gradient(var(--dark-blue), #0000);
    padding: 25px calc(13vw - 22px);
    transform: scale(0);
}
.menu-open .overlay {
    transform: none;
}

header nav ul {
    background: white;
    border-radius: 6px;
    padding: 24px 0;
    max-width: 333px;
    margin-left: auto;
    transition: transform 222ms;
    transform: scale(0);
    transform-origin: right top;
}
.menu-open header nav ul {
    transform: none;
}

header nav a {
    display: block;
    padding: 12px 0;
    font-size: 1.11rem;
    color: var(--dark-blue);
}

.menu-open-btn {
    transform: scale(1.2);
    transform-origin: right;
}
.menu-open .menu-open-btn {
    display: none;
}

.menu-close-btn {
    padding: 5px;
    display: none;
}
.menu-open .menu-close-btn {
    display: block;
}

header .invite {
    display: none;
}













.hero {
    padding-top: var(--header-height);
    height: 100vh;
    min-height: 666px;
    background: var(--very-light-gray);
}

.hero-img {
    height: 40%;
    background:
        url(images/image-mockups.png) no-repeat center bottom / 345px,
        url(images/bg-intro-mobile.svg) no-repeat 0 / 100% 140%;
}

.hero-content {
    margin-top: 33px;
    padding: 0 calc(13vw - 22px);
}

.hero h1 {
    white-space: nowrap;
}

.hero-text {
    padding: 20px 0 35px;
    max-width: 59ch;
    margin: 0 auto;
}













.about {
    background: var(--light-grayish-blue);
    padding: 70px calc(13vw - 22px);
}

.about-text {
    max-width: 59ch;
    margin: 22px auto 0;
}

.about-items-container {
    margin-top: 22px;
}

.about-item {
    margin-top: 33px;
}

.about-item h3 {
    margin-top: 20px;
}

.about-item-text {
    margin: 20px auto 0;
    max-width: 44ch;
}









.latest-articles {
    padding: 77px calc(13vw - 22px);
    text-align: left;
    background: var(--very-light-gray);
}

.latest-articles h2 {
    text-align: center;
}

.latest-articles-items-container {
    margin: 33px auto 0;
    display: grid;
    gap: 33px 3%;
    grid-template-columns: repeat(auto-fit, minmax(244px, 1fr));
}

.latest-articles-item {
    display: block;
    padding-bottom: 33px;
    border-radius: 7px;
    overflow: hidden;
    background: white;
}

.latest-articles-item img {
    width: 100%;
    height: 222px;
}

.latest-articles-item > *:not(img) {
    padding: 0 25px;
}

.latest-articles-item .author {
    font-size: .72rem;
    margin-top: 22px;
}

.latest-articles-item .title {
    font-size: 1.05rem;
    color: var(--dark-blue);
    margin-top: 14px;
    line-height: revert;
    transition: color .3s;
}
.latest-articles-item:hover .title,
.latest-articles-item:focus .title {
    transition: none;
    color: var(--lime-green);
}

.latest-articles-item .text {
    margin-top: 12px;
    font-size: .9rem;
    line-height: 1.33;
}
















footer {
    background: var(--dark-blue);
    padding: 55px calc(13vw - 22px);
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 33px;
}

footer .social-links {
    display: flex;
    justify-content: center;
    gap: 17px;
}

footer .social-links path {
    transition: fill .3s;
}
footer .social-links a:hover path,
footer .social-links a:focus path {
    fill: var(--lime-green);
    transition: none;
}

footer .nav-links li {
    margin-bottom: 11px;
}

footer .nav-links a {
    color: var(--light-grayish-blue);
    transition: color .2s;
}
footer .nav-links a:hover,
footer .nav-links a:focus {
    color: var(--lime-green);
    transition: none;
}

















@media (min-width: 888px) {
    :root {
        --header-height: 90px
    }
    body {
        text-align: left;
    }

    header nav {
        position: revert;
        transform: none;
    }
    .overlay {
        min-height: 100%;
        padding: 0;
        background: 0;
        transform: none;
    }
    header nav ul {
        display: flex;
        padding: 0;
        transform: none;
        max-width: revert;
    }
    header nav li {
        position: relative;
        margin: 0 1vw;
        height: var(--header-height);
        display: flex;
        align-items: center;
        overflow: hidden;
    }
    header nav a {
        color: var(--grayish-blue);
        transition: color .3s;
    }
    header nav a:hover,
    header nav a:focus {
        color: var(--dark-blue);
        transition: none;
    }
    header nav a::after {
        content: '';
        position: absolute;
        height: 4px;
        left: 0;
        right: 0;
        bottom: 0;
        transition: transform .3s;
        background: linear-gradient(90deg, var(--lime-green), var(--bright-cyan));
        transform: translateY(100%);
        border-radius: 4px;
    }
    header nav a:hover::after,
    header nav a:focus::after {
        transform: none;
        transition: none;
    }
    .menu-open-btn,
    .menu-close-btn {
        display: none !important;
    }
    header .invite {
        display: block;
    }

    .hero {
        display: flex;

    }
    .hero-content {
        flex: 1;
        align-self: center;
        padding-right: 0;
    }
    .hero-img {
        flex: 1.7;
        background: url(images/bg-intro-desktop.svg) no-repeat 0 -255px / 1255px;
        order: 1;
        height: 100%;
    }
    .hero-img::after {
        content: url(images/image-mockups.png);
        transform: translate(155px, -122px);
        position: absolute;
    }

    .about {
        padding-top: 99px;
        padding-bottom: 99px;
    }
    .about-text {
        margin-left: 0;
    }
    .about-items-container {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(244px, 1fr));
        column-gap: 3%;
        margin-top: 33px;
    }
    .about-item h3 {
        margin-top: 33px;
        font-size: 1.4rem;
    }
    .about-item-text {
        margin-left: 0;
    }

    .latest-articles h2 {
        text-align: left;
    }
    .latest-articles-items-container {
        margin-top: 66px;
    }

    footer {
        text-align: center;
    }
}


@media (min-width: 999px) {
    footer {
        display: grid;
        grid-template-columns: max-content max-content 1fr;
        text-align: left;
        align-items: revert;
    }
    footer .logo {
        order: 0;
    }
    footer .nav-links {
        order: 1;
        grid-row: span 2;
        columns: 2;
        break-inside: avoid;
        gap: 6vw;
        padding-left: 6vw;
    }
    footer .invite {
        order: 2;
        justify-self: end;
    }
    footer .social-links {
        order: 3;
    }
    footer .copyright {
        order: 4;
        text-align: right;
        align-self: end;
    }
}


@media (min-width: 1111px) {
    h1 {
        font-size: 56px;
    }
    h2 {
        font-size: 40px;
    }

    .hero-text,
    .about-text {
        font-size: 1.15rem;
    }
}